@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: rgb(218, 218, 218);
    background-image: url("./images/background.JPG");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar-container {
}
